<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508158755322-co6pstrj9dvcmfebmasacm0cb00r609v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508158755322-co6pstrj9dvcmfebmasacm0cb00r609v</string>
	<key>API_KEY</key>
	<string>AIzaSyDKd49KCOzXTuffW-YMMKclerWbk5_NOrs</string>
	<key>GCM_SENDER_ID</key>
	<string>508158755322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.satpjFrontEndMovil</string>
	<key>PROJECT_ID</key>
	<string>telepsico-1e9c8</string>
	<key>STORAGE_BUCKET</key>
	<string>telepsico-1e9c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508158755322:ios:a769c88e7a3ebea4d16443</string>
</dict>
</plist>